<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-info">
          <h3>Mohammed Suhail</h3>
          <p>Full Stack Developer passionate about creating amazing digital experiences.</p>
        </div>
        
        <div class="footer-links">
          <div class="footer-section">
            <h4>Quick Links</h4>
            <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#skills">Skills</a></li>
              <!-- <li><a href="#projects">Projects</a></li> -->
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div>
          
          <div class="footer-section">
            <h4>Services</h4>
            <ul>
              <li>Web Development</li>
              <li>Web Application Development</li>
              <li>Mobile Apps</li>
              <!-- <li><a href="#">UI/UX Design</a></li> -->
              <!-- <li><a href="#">Consulting</a></li> -->
            </ul>
          </div>
          
          <div class="footer-section">
            <h4>Connect</h4>
            <ul>
              <ul>
                <li><a href="https://www.linkedin.com/in/mohammed-suhail-b3b17b24a/" target="_blank">LinkedIn</a></li>
                <li><a href="https://github.com/Mohammedsuhail1907" target="_blank">GitHub</a></li>
                <li><a href="https://www.facebook.com/share/1LCjB5Ufi6/" target="_blank">FaceBook</a></li>
                <li><a href="mailto:Mohammedsuhail1907@gmail.com">Email</a></li>
              </ul>
              
            </ul>
          </div>
        </div>
      </div>
      
      <div class="footer-bottom">
        <div class="copyright">
          <p>&copy; {{ currentYear }} Mohammed suhail. All rights reserved.</p>
        </div>
        <div class="back-to-top">
          <a href="#home" class="back-to-top-link">
            ↑ Back to Top
          </a>
        </div>
      </div>
    </div>
  </footer>

 